/* Styles here */

* {
  box-sizing: border-box;
}

.flex-wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.inner-flex-wrapper {
  flex-basis: 45%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drop-area {
  padding: 15px;
  border: 10px dashed transparent;
  background-color: #888;
  flex-basis: 80%;
}

.file-upload {
  display: none;
}

.previews {
  display: flex;
  flex-direction: column;
}

.preview-item {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.preview-item-img {
  width: 70px;
  margin-right: 20px;
}

.preview-info {
  color: #fff;
  font-size: 18px;
  font-family: Sans-Serif;
}

.drop-area-highlighted {
  border: 10px dashed #444;
}

.loaded-files-img {
  width: 250px;
  margin-bottom: 30px;
}

.controls {
  display: flex;
  align-items: center;
  padding: 15px;
  flex-basis: 15%;
  background-color: #888;
}

.progress {
  flex-basis: 70%;
  margin-right: 1%;
}

.files-preview {
  padding: 15px;
  flex-basis: 45%;
  background-color: #777;
  height: 700px;
  display: flex;
  flex-direction: column;
}